@charset "UTF-8";


/*日本語表示用フォントクラス*/
body
{
    font-family:'Meiryo', sans-serif;
}

/*共通フッター設定*/
footer
{
    padding-top:30px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    z-index: 3;

}

/*タイトル */
#title
{
    padding-top: 30px;
    color:#26a69a ;
}

/*ログインユーザ表示*/
#dispuser
{
    text-align: right;
    color:#26a69a;
    padding-right:20px;
    font-weight: bold;
}

/*カードのスタイル */
.card-left
{
    float: left;
}

.card-right
{
    float: right;
}

.card-message
{
    margin-top:15px; 
    margin-left:10px;
    margin-bottom: 30px;
    margin-right:10px;
} 

#card-footer-margin
{
    padding-left:30px;  
}

.card-padding
{
    padding-bottom: 30px;
}

/*F001*/
.form-F001
{
    padding-top: 30px;
}

#btn-F001
{
    padding-top: 30px;
    text-align: right;

}

/** F002*/
#modal-head-F002
{
    color:white;
}


/**F003 */
.form-F003
{
    padding-top: 20px;
}

.btn-F003
{
    padding-top: 20px;
    text-align: right;

}

#btn-margin-F003
{
    margin-left:15px;
}

#btn-margin-F003
{
    margin-left:15px;
}






#top-padding-F003
{
    padding-top: 30px;
}

#title
{
    padding-top: 30px;
    color:#26a69a ;
}



/*F004*/
.modal-toppad-F004
{
    padding-top: 120px;
}

#modal-head-F004
{
    color:white;
}

/*F005*/
.top-padding-F005
{
    padding-top:30px;
}


/*F007*/
.btn-F007
{
    margin-right:15px;
}

.change-mode
{
    display:none;
}

#modal-btn-F007
{
    margin-right:15px;
}
